body {
  background-color: #3c3c3c;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

/* Nav */
header {
  display: flex;
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 0.5%;
}

header h1 {
  margin: 0;
  margin-top: 5px;
  padding-left: 50px;
  font-family: Roboto;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  padding-inline: 20px;
  color: #ff5a5f;
  font-size: 1.2rem;
  font-weight: bold;
}

nav ul li a {
  color: #087e8b;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  color: #ff5a5f;
}
