<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">

  <display-name>Staff Management Application</display-name>

  <!-- DB Connection Parameters -->
  <context-param>
    <param-name>jdbcURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/yourDatabaseName</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcUsername</param-name>
    <param-value>yourUsername</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcPassword</param-name>
    <param-value>yourPassword</param-value>
  </context-param>

  <!-- Controller Servlet -->
  <servlet>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>uts.isd.controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ControllerServlet</servlet-name>
  <url-pattern>/ControllerServlet</url-pattern>
  <url-pattern>/staff</url-pattern>
  </servlet-mapping>

  <!-- Staff Servlet -->
  <servlet>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>uts.isd.controller.StaffServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/staffnew</url-pattern>
    <url-pattern>/staffinsert</url-pattern>
    <url-pattern>/staffdelete</url-pattern>
    <url-pattern>/staffedit</url-pattern>
    <url-pattern>/staffupdate</url-pattern>
    <url-pattern>/stafflist</url-pattern>
    <url-pattern>/staffsearch</url-pattern>
    <url-pattern>/staffactivate</url-pattern>
    <url-pattern>/staffdeactivate</url-pattern>
  </servlet-mapping>

  <!-- Inventory Servlet -->
  <servlet>
    <servlet-name>InventoryServlet</servlet-name>
    <servlet-class>uts.isd.controller.InventoryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>InventoryServlet</servlet-name>
    <url-pattern>/InventoryServlet</url-pattern>
    <url-pattern>/productnew</url-pattern>
    <url-pattern>/productinsert</url-pattern>
    <url-pattern>/productdelete</url-pattern>
    <url-pattern>/productedit</url-pattern>
    <url-pattern>/productupdate</url-pattern>
    <url-pattern>/productslist</url-pattern>
    <url-pattern>/productview</url-pattern>
    <url-pattern>/productsearch</url-pattern>
    <url-pattern>/productsearchC</url-pattern>
  </servlet-mapping>

  <!-- User Servlet -->
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>uts.isd.controller.UserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/usernew</url-pattern>
    <url-pattern>/userinsert</url-pattern>
    <url-pattern>/userdelete</url-pattern>
    <url-pattern>/useredit</url-pattern>
    <url-pattern>/userupdate</url-pattern>
    <url-pattern>/userlist</url-pattern>
    <url-pattern>/usersearch</url-pattern>
    <url-pattern>/useractivate</url-pattern>
    <url-pattern>/userdeactivate</url-pattern>
  </servlet-mapping>

  <!-- Payment Servlet -->
  <servlet>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>uts.isd.controller.PaymentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
    <url-pattern>/paymentnew</url-pattern>
    <url-pattern>/paymentinsert</url-pattern>
    <url-pattern>/paymentdelete</url-pattern>
    <url-pattern>/paymentedit</url-pattern>
    <url-pattern>/paymentupdate</url-pattern>
    <url-pattern>/paymentlist</url-pattern>
  </servlet-mapping>

    <!-- Order Servlet -->
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
        <url-pattern>/ordernew</url-pattern>
        <url-pattern>/orderinsert</url-pattern>
        <url-pattern>/orderupdate</url-pattern>
        <url-pattern>/orderdelete</url-pattern>
        <url-pattern>/orderedit</url-pattern>
        <url-pattern>/orderlist</url-pattern>
        <url-pattern>/ordersearch</url-pattern>

    </servlet-mapping>
</web-app>